name: Deploy Updates to VM

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.VM_HOST }}
          username: azureuser
          key: ${{ secrets.VM_SSH_KEY }}
          key_path: /tmp/azure_key
          script: |
            set -e
            cd /home/azureuser/FinanceVis
            git pull
            cd Financevis
            /home/azureuser/.nvm/versions/node/v22.21.1/bin/pm2 reload 8
          debug: true
